/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .surveyfunnel-lite-sc-fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.surveyfunnel-lite-sc-popup {
    position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
	background: rgba(39,43,47,.9);
}

.surveyfunnel-lite-iframe {
	max-width: 100% !important;
	max-height: 100% !important;
	width: 100% !important;
}

.d-none {
	display: none;
}