/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @font-face {
    font-family: 'ApercuPro';
    font-weight: normal;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Regular.otf") format("opentype");
}
@font-face {
    font-family: ApercuPro;
    font-weight: bold;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Bold.otf") format("opentype");
}

@font-face {
    font-family: ApercuPro;
    font-weight: 500;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Medium.otf") format("opentype");
}
.surveyfunnel-lite-sc-fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
	width: 100% !important;
}

.surveyfunnel-lite-sc-popup {
    position: fixed;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
	background: rgba(39,43,47,.9);
}

.surveyfunnel-lite-iframe {
	max-width: 100% !important;
	max-height: 100% !important;
	width: 100% !important;
}

.d-none {
	display: none;
}
.surveyfunnel-lite-gutenberg-block-component-area{
    font-family: 'ApercuPro';
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 38px;
    color:#495560;
}
.surveyfunnel-lite-gutenberg-block-container .components-placeholder {
    background-color: #F3F6FE;
  }

.surveyfunnel-lite-gutenberg-heading{
    font-family: 'ApercuPro';
    display: flex;
    justify-content: center;
}

.surveyfunnel-lite-contentTypes-container{
    width: 547px;
    background-color: #F0F2F5;
    border-radius: 9px;
    display: flex;
    align-items: center;
    border: 1px solid #B5C8C8;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: normal;
}
.surveyfunnel-lite-contentTypes-container .surveyfunnel-lite-contentType-element{
    width: 183px;
    float: left;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;


}

.surveyfunnel-lite-contentTypes-container .surveyfunnel-lite-contentType-element input{
    display:none;
}

.surveyfunnel-lite-contentTypes-container .surveyfunnel-lite-contentType-element label{
    cursor: pointer;
    padding: 20px;
    height: 100%;
    width: 100%;
    display: block;
}

.surveyfunnel-lite-contentTypes-container .surveyfunnel-lite-contentType-element-active{
    background-color: #ffffff;
    border-radius: 9px;
    opacity: 1;
}

.surveyfunnel-lite-gutenberg-custom-options-main{
    display: flex;
    justify-content: center;
    margin-top: 38px;
    font-weight: normal;
}
.surveyfunnel-lite-gutenberg-custom-options-container{
    display: flex;
    padding: 10px;
    border-radius: 9px;
    width: 547px;  
    justify-content:center;
    border: 1px solid #B5C8C8;
    background-color: #ffffff;
    font-size: 16px;
}
.surveyfunnel-lite-gutenberg-custom-options input{
    height: 50px;
    width: 90px;
    border-radius: 9px!important;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid #B5C8C8;
    outline: none!important;
}
.surveyfunnel-lite-gutenberg-custom-options input:focus{
    outline:none!important;
    box-shadow: none;
    border-color: #2271b1;
}
.surveyfunnel-lite-gutenberg-custom-options select{
    height: 50px;
    width: 80px;
    border-radius: 9px!important;
    font-family: 'ApercuPro';
    margin-right: 10px;
    border: 1px solid #B5C8C8!important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E")!important;
    background-repeat: no-repeat!important;
    -webkit-appearance: none!important;
    appearance: none!important;
    background-position-x: 50px!important;
    background-position-y: 20px!important;
    padding: 0 20px;
    font-size: 16px!important;
    border-color: #2271b1;

}

.surveyfunnel-lite-gutenberg-custom-options select:focus{
    outline: none;
    border-color: #2271b1!important;
}

.surveyfunnel-lite-async-select input[type=text]:focus {
    box-shadow: none;
}
.surveyfunnel-lite-gutenberg-preview-box{
    display: flex;
    justify-content: center;
    font-family: 'ApercuPro';
    font-size: 16px;
    font-weight: normal;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #B5C8C8!important;
    cursor:pointer;
}
.surveyfunnel-lite-gutenberg-preview-box p{
    margin: 0;
    display: inline-block;
}