/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .wpsf-sc-fullpage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.wpsf-sc-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
    z-index: 9999;
}