@font-face {
    font-family: 'ApercuPro';
    font-weight: normal;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Regular.otf") format("opentype");
}
@font-face {
    font-family: ApercuPro;
    font-weight: bold;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Bold.otf") format("opentype");
}

@font-face {
    font-family: ApercuPro;
    font-weight: 500;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Medium.otf") format("opentype");
}
.wpsf-root{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.wpsf-build-container {
	display: grid;
	grid-template-columns:1.2fr 2fr;
    font-family: 'ApercuPro';
    color: #495560;
}

.wpsf-build-eles {
	border-right: 1px solid #d2dae2;
    background-color: #F6F8FA;
    overflow: auto;
    height: calc(100vh - 108px);
    .wpsf-build-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #d2dae2;
        padding-left: 20px;
        height: 108px;
        p{
            margin: 0;
            color: #626F7D;
            font-size: 16px;
        }
        h2{
            margin: 0;
            font-size: 24px;
        }
    }

	 .wpsf-build-elements {
        padding-left: 20px;
        border-bottom: 1px solid #d2dae2;
        padding-bottom: 20px;
		 .wpsf-build-elements_start, .wpsf-build-elements_content,  .wpsf-build-elements_results{
			margin-top: 20px;
            h3{
                font-size: 20px;
                margin: 0;
            }
            .wpsf-build-elements_container{
                display: flex;
                flex-wrap: wrap;
                .wpsf-build-elements_box{
                    cursor: move;
                    height: 66px;
                    width: 256px;
                    background-color: #FFFFFF;
                    box-shadow: 0px 4px 1px rgb(33 30 30 / 4%);
                    border-radius: 9px;
                    margin: 5px;
                    display: flex;
                    align-items:center;
                    padding-left: 10px;
                    img{
                        padding: 5px;
                        border-radius: 5px;
                    }
                    p{
                        margin-left: 15px;
                    }
                }
            }

		}

	}
    .wpsf-build-elements-save{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        margin-right: 20px;
        .wpsf-build-elements-save-button{
            background-color: #0F4C81;
            border: none;
            color: white;
            padding: 12px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 9px;
        }
    }
}
.wpsf-build-START_ELEMENTS-img{
    background-color: #FFE7F5;
}
.wpsf-build-CONTENT_ELEMENTS-img{
    background-color: #E2EDFF;
}
.wpsf-build-RESULT_ELEMENTS-img{
    background-color: #F4F4D5;
}

.wpsf-build-content{
    overflow: auto;
    height: calc(100vh - 108px);
    .wpsf-build-content-title-container{
        height: 108px;
        padding-left: 20px;
        h2{
            display: inline-block;
            margin: 20px 10px 10px 0;
        }
        .wpsf-build-content-title-edit{
            border: none;
            background-color: transparent;
            cursor: pointer;
            img{
                width: 20px;
            }
        }
        p{
            background-color: #687AE2;
            margin: 0;
            padding: 2px 5px;
            display: inline-block;
            border-radius:99px;
        }
    }
    .wpsf-dropboard{
        margin-left: 20px;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 9px;
        margin-right: 20px;
        h2{
            margin: 10px 0;
        
        }
        .cardBox{
            border-radius: 9px;
            .wpsf-cardbox-title{
                display: flex;
            }
            h3{
                margin: 0 10px;
                display: inline-block;
            }
            .wpsf-cardBox-btn{
                border: none;
                background-color: transparent;
                cursor: pointer;
                img{
                    width: 15px;
                }
            }

        }
    }
}

.modalContent {
    position: absolute;
    margin: auto;
	z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    height: 800px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr 3fr;

    .modalContent-right {
        background: white;
    }
    
    .modalContent-left {
        background: #E3EDFA;
    }
}

.cardBox {
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    margin-bottom: 1rem;
}

.card-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gird-gap: 20px;
} 
.wpsf-cb-nav-container{
    font-family: 'ApercuPro';
    font-weight: 500;
    border-bottom: 1px solid #d2dae2;
    background: #fff;
    display:flex;
    height:108px;
    justify-content: center;
    ul{
        display:flex;
        list-style-type: none;
        align-items: center;
        li{
            margin:0 10px;
            a{
                text-decoration: none;
                color: #626F7D;

            }
        }
    }
}
.wpsf-button-loading::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left: 7px;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
}
  
@keyframes button-loading-spinner {
	from {
	  transform: rotate(0turn);
	}
  
	to {
	  transform: rotate(1turn);
	}
}