/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 @font-face {
    font-family: ApercuPro;
	font-weight: normal;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Regular.otf") format("opentype");
}

@font-face {
    font-family: ApercuPro;
    font-weight: bold;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Bold.otf") format("opentype");
}

@font-face {
    font-family: ApercuPro;
    font-weight: 500;
    src: url("../../assets/fonts/Apercu-Font/Apercu\ Pro\ Medium.otf") format("opentype");
}

:root {
	--primary: #0F4C81;
}

.surveyfunnel-lite-container-fluid {
	font-family: ApercuPro;
	width: 100%;
}
.surveyfunnel-lite-container{
	width: 1920px;
}

.surveyfunnel-lite-top-navbar {
	height: 100%;
}

#wpcontent {
	padding: 0;
}

#wpwrap {
	background: #F0F2F5;
}

.--surveyfunnel-lite-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.surveyfunnel-lite-navbar {
	height: 80px;
}

.surveyfunnel-lite-navbar-container {
	background: #fff;
}

.surveyfunnel-lite-container-navbar {
	padding: 0px 36px;
}

.surveyfunnel-lite-logo {
	color: var( --primary );
	font-size: 26px;
	letter-spacing: -0.52;
	font-weight: 500;
}

.surveyfunnel-lite-logo > img {
	max-width: 256px;
}

.surveyfunnel-lite-dashboard-container {
	padding: 0 36px;
}

.icon:focus{
	box-shadow: none;
}
.surveyfunnel-lite-dashboard-container .surveyfunnel-lite-left {
	font-size: 22px;
	color: #495560;
	font-weight: bold;
	float:left;
	padding: 18px 0;
	margin: 36px 0;
}

.surveyfunnel-lite-search {
	width:315px;
	margin: 36px;
}

.surveyfunnel-lite-right input {
	border: 0.75px solid #94ADC4;
	padding: 13px 40px 13px 20px;
	box-shadow: 0px 4px 1px rgba(33,30,30, 0.04) !important;
	border-radius: 10px;
}
.surveyfunnel-lite-filter > select{
	width: 150px;
	border: 0.75px solid #94ADC4;
	padding: 13px 10px;
	box-shadow: 0px 4px 1px rgba(33,30,30, 0.04) !important;
	border-radius: 10px;
	-webkit-appearance: none;
	appearance: none;
	background-position-x: 120px;
}

.surveyfunnel-lite-filter{
	margin: 36px 0;
}
.surveyfunnel-lite-filter label{
	padding-right: 10px;
}
.surveyfunnel-lite-card-container {
	padding-left: 36px;
	clear: both;
}

.surveyfunnel-lite-content {
	position: relative;
	float: left;
	width: 272px;
	margin: 0 36px 36px 0;
	background: #fff;
	border-radius: 9px;
	box-shadow: 0px 4px 1px rgba(33,30,30, 0.04);
	transition: box-shadow 250ms;
	color: #495560;
}

.surveyfunnel-lite-content:hover {
	box-shadow: 0px 9px 16px rgba(33,30,30, 0.04);
}

.surveyfunnel-lite-card-container > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.surveyfunnel-lite-create-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.surveyfunnel-lite-create-button > button{
	all: unset;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-color: #707070;
	color: #fff;
	background: var( --primary );
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.surveyfunnel-lite-content {
	padding: 3px;
}

.surveyfunnel-lite-image {

	background: #E1E8F0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 272px;
	height: 164px;
	border-radius: 9px;
}

.surveyfunnel-lite-image-box {
	position: relative;
}

.surveyfunnel-lite-image-box > .surveyfunnel-lite-post-status {
	position: absolute;
	width: 100%;
	top: 0;
}

.surveyfunnel-lite-image {
	overflow: hidden;
}

.surveyfunnel-lite-image > img {
	max-width: 100%;
}

.surveyfunnel-lite-badge {
	padding: 4.5px 8.5px;
	color: white;
	border-radius: 9px;
}

.surveyfunnel-lite-badge-sm {
	padding: 1.5px 8px;
	font-weight: normal;
}

.surveyfunnel-lite-post-status-inside {
	padding: 6px;
}

.surveyfunnel-lite-badge-unpublished {
	background: #2196F3;
}

.surveyfunnel-lite-badge-published {
	background: #4CAF50;
}

.surveyfunnel-lite-badge-outcome {
	background: #687AE2;
}

.surveyfunnel-lite-badge-scoring {
	background: #3EB595;
}

.surveyfunnel-lite-badge-basic {
	color: black;
	background: #E1E8F0;
}

.surveyfunnel-lite-title-box {
	font-size: 13px;
	padding: 11.5px;
	border-bottom: 1px #E0E0E0 solid;
}

.--surveyfunnel-lite-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.surveyfunnel-lite-stat-box {
	padding: 11.5px;
}

.surveyfunnel-lite-stat-box:not(:last-child) {
	border-right: 1px #E0E0E0 solid;
}

.surveyfunnel-lite-stat > span {
	display: block;
}

.surveyfunnel-lite-post-icons > .surveyfunnel-lite-tooltip {
	margin-left: 9.7px; 
}

.surveyfunnel-lite-content {
	min-height: 272px;
}

.surveyfunnel-lite-create-content > h3 {
	font-weight: bold;
	color: #495560;
}

.surveyfunnel-lite-stat > span {
	font-weight: bold;
	font-size: 12px;
}

.surveyfunnel-lite-stat > small {
	font-weight: 500;
	font-size: 10.5px;
	color: #9DA9B4;
}

.surveyfunnel-lite-image-box .icon {
	visibility: hidden;
}

.surveyfunnel-lite-image-box:hover .icon{
	visibility: visible;
}

.icon {
	cursor: pointer;
}

.icon > svg > path {
	fill: #0F4C81;
}

.d-none {
	display: none;
}

.surveyfunnel-lite-modal {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
	background:rgba(0,0,0,.7);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.surveyfunnel-lite-modal-dialog {
	position: fixed;
	top: 8vh;
	background: #F0F2F5;
	border-radius: 12px;

}

.surveyfunnel-lite-modal-dialog-navbar{
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.surveyfunnel-lite-modal-inner {
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 45px;
}

#surveyfunnel-lite-dashboard {
	position: relative;
	min-height: 100vh;
}

.select-content-type {
	display:inline-flex;
	overflow-x: hidden;
	overflow-y: auto;
	gap: 20px;
	height: 350px;
	flex-wrap:wrap;
}

.set-content-name{
	margin-top: 20px;
}

.surveyfunnel-lite-modal-content-card {
	padding: 4px;
	background: white;
	border-radius: 12px;
	box-shadow: 0px 4px 1px rgba(33,30,30, 0.04);
	transition: box-shadow 250ms;
	cursor: pointer;
	width:250px;
	max-height: 350px;
}

.surveyfunnel-lite-modal-content-card:hover {
	box-shadow: 0px 9px 16px rgba(33,30,30, 0.04);
}

.card-title {
	font-size: 18px;
	color: #495560;
	font-weight: bold;
	margin-top: 14px;
	text-align:center;
}

.card-text {
	padding: 15px;
	font-weight: normal;
	font-size: 14px;
	color: #9DA9B4;
	text-align:center;
}

.card-image {
	background: #E1E8F0;
	min-width: 200px;
	min-height: 198px;
	border-radius: 12px;
}

.content-info-title {
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
}

#content-title {
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	height:45px;

}
#surveyfunnel-lite-modal-submit {
	background-color: #0F4C81;
	border: none;
	color: white;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0 20px;
	cursor: pointer;
	border-radius: 9px;
}

#content-title {
	width: 315px;
	padding-left: 15px;
	border-radius: 12px;
}

.surveyfunnel-lite-dismiss {
	font-size: 20px;
	color: #9da9b4;
	cursor: pointer;
}

.surveyfunnel-lite-dashboard-search{

    background-image: url('../admin-images/search-icon.png');
    background-repeat: no-repeat;
	background-size:15px;
	background-position:center right 20px;
	padding-left:20px;
	padding-right: 40px;
	width: 100%;

}


.surveyfunnel-lite-content-type-icon{
	text-align:center;
	margin-top: 25px;
}
.surveyfunnel-lite-content-type-radios{
	position: relative;
    left: 85%;
    top: 12px;
    border-radius: 12px;
}
.surveyfunnel-lite-content-type-radios input[type="radio"] {
	display: none;
  }
  .surveyfunnel-lite-content-type-radios input[type="radio"] + label {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
  }
  .surveyfunnel-lite-content-type-radios input[type="radio"] + label span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #0F4C81;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	line-height: 25px;
  }
  .surveyfunnel-lite-content-type-radios input[type="radio"] + label span img {
	opacity: 0;
	transition: all 0.3s ease;
	width:50%;
  }
  .surveyfunnel-lite-content-type-radios input[type="radio"] + label span {
	border-radius:8px;
  }
  .surveyfunnel-lite-content-type-radios input[type="radio"]:checked + label span img {
	opacity: 1;
  }
  .surveyfunnel-lite-content-type-radios input[type="radio"]:checked + label span{
	background-color:#0F4C81;
  }
  .surveyfunnel-lite-modal-content-card-disabled{
	  opacity:0.4;
  }

.surveyfunnel-lite-right{
	float:right;
}




@media screen and (max-width: 1920px) {
	.surveyfunnel-lite-container, .surveyfunnel-lite-navbar{
		margin: auto;
		width: 1606px;
	
	}
}
@media screen and (max-width: 1612px) {
	.surveyfunnel-lite-container, .surveyfunnel-lite-navbar{
		margin: auto;
		width: 1292px;
	
	}
}
@media screen and (max-width: 1452px) {
	.surveyfunnel-lite-container, .surveyfunnel-lite-navbar{
		margin: auto;
		width: 978px;
	
	}
}
@media screen and (max-width: 1140px) {
	.surveyfunnel-lite-container, .surveyfunnel-lite-navbar{
		margin: auto;
		width: 664px;
	
	}
	.surveyfunnel-lite-search{
		width: 215px;
		margin: 36px 25px;
	}

	.surveyfunnel-lite-filter > select{
		width: 100px;
		background-position-x: 75px;
	}

}
@media screen and (max-width: 648px) {
	#surveyfunnel-lite-modal-submit{
		margin: 20px 0;
	
	}
}

.surveyfunnel-lite-container-main {
	text-align: center;
	position: relative;
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    width: 750px;
    margin: 50px auto;
}

.surveyfunnel-lite-inner-container {
	background: #fff;
	margin: 20px 0;
}

.surveyfunnel-lite-container-main .surveyfunnel-lite-section {
	padding: 45px;
    border: 1px solid #d6e2ed;
    border-collapse: collapse;
}

.surveyfunnel-lite-container-main p {
	color: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.surveyfunnel-lite-container-main .surveyfunnel-lite-section-title {
	font-size: 26px;
    font-weight: 600;
}
.surveyfunnel-lite-section-subtitle {
	font-size: 14px;
	color: #777;
}
.surveyfunnel-lite-section-heading {
	margin-bottom: 25px;
}

.surveyfunnel-lite-container-main .surveyfunnel-lite-button {
	border: 1px solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: #2862b1;
    font-size: inherit;
    line-height: inherit;
    padding: 20px 45px;
    text-transform: uppercase;
}

.surveyfunnel-lite-container-main .surveyfunnel-lite-header .surveyfunnel-lite-logo {
    width: 100%;
    position: relative;
}

.surveyfunnel-lite-tooltip {
	position: relative;
}

 /* Tooltip text */
 .surveyfunnel-lite-tooltip .surveyfunnel-lite-tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 8px 15px;
	border-radius: 6px;
   
	/* Position the tooltip text */
	position: absolute;
	z-index: 1001;
	top: -40px;
	left: 0;
	transform: translateX(calc(-50% + 7px));
}

  /* Show the tooltip text when you mouse over the tooltip container */
.surveyfunnel-lite-tooltip:hover .surveyfunnel-lite-tooltiptext {
	visibility: visible;
}
