/* mascot quick links css */
.surveyfunnel-lite-mascot-bg-img {
	width: 100%;
	padding-top: 66%;
	position: relative;
}
.surveyfunnel-lite-mascot-bg-img:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: contain;
}
.surveyfunnel-lite-mascot-quick-links {
	position:fixed;
	bottom:35px;
	right:20px;
	-webkit-box-shadow:0 0 10px 0 #ababab;
	box-shadow:0 0 10px 0 #ababab;
	width:60px;
	height:60px;
	border-radius:50%;
	background:#fff;
	z-index:1000;
}
.surveyfunnel-lite-mascot-quick-links.surveyfunnel-lite-mascot-quick-links-open,
.surveyfunnel-lite-mascot-quick-links:focus,
.surveyfunnel-lite-mascot-quick-links:hover {
	-webkit-box-shadow: 0 0 15px 2px #ababab;
	box-shadow: 0 0 15px 2px #ababab;
}
.surveyfunnel-lite-mascot-quick-links-label {
	border-radius: 50%;
	background: #fff;
	border: 2px solid rgba(147, 120, 207, 0.21);
	position: absolute;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
	padding: 6px 6px 6px 8px;
	display: block;
	width: 56px;
	height: 56px;
	outline: none;
	cursor: pointer;
}
.surveyfunnel-lite-mascot-quick-links-open .surveyfunnel-lite-mascot-quick-links-label .surveyfunnel-lite-mascot-quick-link-title {
	opacity: 0;
	pointer-events: none;
}
.surveyfunnel-lite-mascot-bg-img.surveyfunnel-lite-mascot-quick-links-mascot {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	padding-top: 100%;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	display: block;
}
.surveyfunnel-lite-mascot-bg-img.surveyfunnel-lite-mascot-quick-links-mascot:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDcuMC1jMDAwIDc5LmRhYmFjYmIsIDIwMjEvMDQvMTQtMDA6Mzk6NDQgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCAyMi41IChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxREUwRERFRjA1OEQxMUVDQUREMEQ5QkFBNEU0RDIwNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxREUwRERGMDA1OEQxMUVDQUREMEQ5QkFBNEU0RDIwNCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjFERTBEREVEMDU4RDExRUNBREQwRDlCQUE0RTREMjA0IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjFERTBEREVFMDU4RDExRUNBREQwRDlCQUE0RTREMjA0Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+2yu7DAAAA0xJREFUeNq0VkloFFEQff//3qajMS4xbqAeJCiuFyERET14EBHFm4IePBo8CKIIEUFcUczBg4jiQRA9KKgHD55EEBQU8SJKjBHjksQl0TjT0/0X6/dMYpbp6AjOULNU16/l1avqZsYY/M+XM/zP4m3HYLRGTmgsqU/AGRttf4lkM0kbyZFBpbWKlcGzHg+acYSBg8eX948NkBqTdaToQwTQsrCVc76D1Kpsu7Hsz55eUT7CtdbHJc89Sig5IcapILUmGSgqrF+10nnX2b7s+euuTa4jRpvVkGyxP2KpsG5F47V+NvnJwzdPZW3oZQew2ZPvDd15uW/yjNn1yxtnTnXvP4LneZkYx0mCTRvWnrj6oLO1tyA7cjnvcAA8qRggkmbd57y+XZAQkdRY0LgQs2bPocAsM4AlSe2kurmRfI18gkU9ed3sOrqJLr0aE+BbpA5pQp+TP9tshxn4nlMqLTsCNUXB0NuaJdpM+VZQLXRlz5gAlPRCNgwvrSWKcUIOKgUwcFwXSikERg/Z2OR+xHpuVpPVcAeMO1SBl/KGpTHZECyu5+PTpx6EISHORFpBJT88u3R7zkMQ5hAEAXzftxWSzoWfm4j2jrfYvqsFN27fJaUDmL8YtNEDkcQRJNGQmAFFPfkxUMCLl8+hpMTRU2cxvX4aVq9qglFJJhGc8cZcKQmpdIoP5wLFYoy2c+fx8lU71qxuxuljh0nPiRAKDNVWQDgHuRr4KqYMtf2LGQ3TcGDvbty8dReHDu7FhAkhNGXPhQ+dsdPGhUgnEQZ+5odoar+WL12UiqKg3/v70kRqa/FvEKHMDfa7KMRE21RhSldMNdt0NETcDQgGXnZW2ps20REr3iq4h6y1n0lTxi2LipQx7Q0aKCvWWT8xSdDKHNQVojhlEa8WImbnwOhSZoPZEVWNNqkwpksQaTvFujoWhYGH1gt3cOaKk3ZhJCJsBBysPOXdAwo1of/HAHxwn7R/SWhyi2B/cVu04VzB4Tmi3HTGKwZoEFHXBxU2CCrZcwU8iKruvyZdQhzzxPfPFZv8sbf3Itc09jS1aRJVij3HZYTur1+vV6ygmMQX3L7383VQt5M5jlvtE4RJ4jwKfSeL0Pd+k+U/P7b8EmAANRRfqbSyFMsAAAAASUVORK5CYII=');
}
.surveyfunnel-lite-mascot-quick-links-open .surveyfunnel-lite-mascot-bg-img.surveyfunnel-lite-mascot-quick-links-mascot {
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	transform: rotate(25deg);
}
.surveyfunnel-lite-mascot-quick-links-menu {
	position: absolute;
	bottom: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	right: 6px;
	margin-bottom: 10px;
}
.surveyfunnel-lite-mascot-quick-links-menu .surveyfunnel-lite-mascot-quick-links-menu-item {
	display: block;
	width: 48px;
	height: 48px;
	background: #509fe2;
	border-radius: 50%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
	position: relative;
	-webkit-box-shadow: 0 0 10px 0 #ababab;
	box-shadow: 0 0 10px 0 #ababab;
	margin-bottom: 6px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	line-height: 48px;
}
.surveyfunnel-lite-mascot-quick-links-menu .surveyfunnel-lite-mascot-quick-links-menu-item:hover {
	color: #fff;
	background: #50abee;
	-webkit-box-shadow: 0 0 15px 2px #ababab;
	box-shadow: 0 0 15px 2px #ababab;
}
.surveyfunnel-lite-mascot-quick-links-menu .surveyfunnel-lite-mascot-quick-links-menu-item.surveyfunnel-lite-mascot-show {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.surveyfunnel-lite-mascot-quick-links-menu .surveyfunnel-lite-mascot-quick-links-menu-item.surveyfunnel-lite-mascot-quick-links-item-upgrade {
	background: #704cbc;
}
.surveyfunnel-lite-mascot-quick-links-menu .surveyfunnel-lite-mascot-quick-links-menu-item.surveyfunnel-lite-mascot-quick-links-item-upgrade:hover {
	background: #509fe2;
}
.surveyfunnel-lite-mascot-quick-link-title {
	position: absolute;
	right: 100%;
	margin-right: 10px;
	font-size: 16px;
	color: #000;
	background: #e5e5e5;
	border-radius: 5px;
	white-space: nowrap;
	padding: 6px 8px;
	display: block;
	top: 50%;
	margin-top: -12px;
	line-height: 1;
	-webkit-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
	outline: none;
}
.surveyfunnel-lite-mascot-quick-links-menu .surveyfunnel-lite-mascot-quick-links-menu-item span.dashicons {
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
	vertical-align: middle;
}

button:focus {
	outline: none;
}